<?xml version="1.0"?>
<module xmlns="http://schema.slothsoft.net/farah/module" xmlns:sfm="http://schema.slothsoft.net/farah/module">
  <!--
Farah Module Manifest

Module: pokemon
Vendor: slothsoft
Farah ID: farah://slothsoft@pokemon
Composer ID: slothsoft/pokemon

Homepage: http://farah.slothsoft.net/modules/pokemon
Packagist: https://packagist.org/packages/slothsoft/pokemon
GitHub: https://github.com/Faulo/slothsoft-pokemon

Llo
-->
  <default-configuration/>
  <assets>
    <resource-directory name="data" path="data" type="application/x-php"/>
    <resource-directory name="css" path="stylesheet" type="text/css"/>
    <resource-directory name="js" path="script" type="application/javascript"/>
    <resource-directory name="xsl" path="template" type="application/xslt+xml"/>
    <resource-directory name="dictionary" path="dictionary" type="application/xml"/>
    <resource-directory name="pages" path="pages" type="application/xml"/>
    <directory name="static">
      <resource name="go-data" path="go-data.json" type="application/json"/>
      <resource-directory name="go-trainers" path="go-trainers" type="application/xml"/>
      <resource name="team" path="team.xml" type="application/xml"/>
      <resource name="list" path="list.xml" type="application/xml"/>
      <resource-directory name="sprites" path="sprites" type="image/png"/>
    </directory>
    <fragment name="sprites">
      <use-document ref="data/list"/>
      <use-template ref="xsl/_sprites"/>
      <param name="standalone" scope="global"/>
      <import ref="//slothsoft@core/HTML5"/>
    </fragment>
    <fragment name="team">
      <use-document ref="static/team"/>
      <use-document ref="static/list"/>
      <use-template ref="xsl/_team"/>
      <param name="standalone" scope="global"/>
      <import ref="//slothsoft@core/HTML5"/>
    </fragment>
    <fragment name="go-iv">
      <use-document ref="data/go-iv"/>
      <use-template ref="xsl/_go-iv"/>
      <param name="standalone" scope="global"/>
    </fragment>
    <fragment name="home">
      <use-document ref="data/default"/>
      <link-stylesheet ref="css/default"/>
      <fragment name="content">
        <use-template ref="xsl/home"/>
        <import ref="//slothsoft@core/DOM"/>
        <use-document ref="//slothsoft@core/static/sites"/>
        <use-document ref="static/news"/>
        <use-document as="log" ref="log-wrapper"/>
        <use-document as="chat-short" ref="//slothsoft@chat/default"/>
      </fragment>
    </fragment>
  </assets>
</module>
